:root {
    --primary-color: #7F5539;
    --secondary-color: #EDE0D4;
    --primary-font: #fff;
  }
  *{
    margin: 0;
    padding:0;
    /* box-sizing: border-box; */
  }
body{
    

    display:flex;
    margin: 40px;
    /* height: 100vh; */
    background: url("../../image/oqueFazemos.jpg") no-repeat;
    justify-content: flex-end;
    
    
}
#main {
    
    padding: 80px;
    background-color:#9d6b53;
    flex-direction: column;
    align-items: center;
    height: 530px;
    width: 350px;
    color: #fff;
    
}

#main,
h1 {
    /* padding: 45px; */
    font-size: 60px;
    text-align: center;
    
}

#main,
p {
    font-style: italic;
    font-size: 20px;
    margin:20px;
    text-align:center;
}
